<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>199,68,65</string>
    <string>230,88,92</string>
    <string>222,148,47</string>
    <string>223,199,31</string>
    <string>213,227,45</string>
    <string>181,202,30</string>
    <string>148,172,6</string>
    <string>95,154,55</string>
    <string>85,123,91</string>
    <string>66,162,162</string>
    <string>77,194,219</string>
    <string>131,199,222</string>
    <string>54,132,174</string>
    <string>96,89,170</string>
    <string>108,75,134</string>
    <string>136,72,119</string>
    <string>176,88,135</string>
    <string>192,126,183</string>
    <string>211,107,181</string>
</array>
</plist>
